/* CSS Resets */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}


/* ==================================================================================================================== */
/* ! The 1140px Grid V2 by Andy Taylor \ http://cssgrid.net \ http://www.twitter.com/andytlr \ http://www.andytlr.com   */
/* ==================================================================================================================== */

.container {
padding: 56px 20px 32px;
}

.row {
width: 100%;
max-width: 1140px;
min-width: 755px;
margin: 0 auto;
overflow: hidden;
}

.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11 {
margin-right: 3.8%;
float: left;
min-height: 1px;
}

.row .c1 {
width: 4.85%;
}

.row .c2 {
width: 13.45%;
}

.row .c3 {
width: 22.05%;
}

.row .c4 {
width: 30.75%;
}

.row .c5 {
width: 39.45%;
}

.row .c6 {
width: 48%;
}

.row .c7 {
width: 56.75%;
}

.row .c8 {
width: 65.4%;
}

.row .c9 {
width: 74.05%;
}

.row .c10 {
width: 82.7%;
}

.row .c11 {
width: 91.35%;
}

.row .c12 {
width: 100%;
float: left;
}

.last {
margin-right: 0px;
}

img, object, embed {
max-width: 100%;
}

img {
	height: auto;
}


/* Smaller screens */

@media only screen and (max-width: 1023px) {

	body {
	font-size: 0.8em;
	line-height: 1.5em;
	}

	}


/* Mobile */

@media handheld, only screen and (max-width: 767px) {

	body {
	font-size: 16px;
	-webkit-text-size-adjust: none;
	}

	.row, body, .container {
	width: 100%;
	min-width: 0;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	}

	.row .c1, .row .c2, .row .c3, .row .c4, .row .c5, .row .c6, .row .c7, .row .c8, .row .c9, .row .c10, .row .c11, .row .c12 {
	width: auto;
	float: none;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 20px;
	padding-right: 20px;
	}

}