/*
	Project:	Ghendetta
	Author:     Miet Claes
				Xavier Bertels

	Defaults:
		Baseline Rhythm: 8px
		Font Stack: "Helvetica Neue", Arial, sans-serif
		Type Rhythm: 10 / 14 / 16 / 23 / 26 / 37 / 42 / 59 / 68 / 96
		Colours:
			$red: 890000

	Namespace:
		v- are views.
*/

/*
	CSS Libraries
*/

@import "1140.css";

/*
	Site-Wide Structure & Layout
*/

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font: 100%/1.5 "Helvetica Neue", Arial, sans-serif;
	color: #444;
	background: #F7F6F2;
}

/* Typography */

h1,
h2,
h3 {
	font-weight: 400;
	padding-bottom: 8px;
}

h1 {
	font-size: 2.3125em;
	line-height: 1.081081081;
	padding-bottom: 24px;
}

h2 {
	font-size: 1.625em;
	line-height: 1.28;
}

h3 {
	font-size: 1.4375em;
	line-height: 1.043478261;
}

p,
ol,
ul,
dl {
	padding-bottom: 16px;
}

/* Links */

a {
	color: #890000;
	text-decoration: none;
	border-bottom: 1px solid #CB797D;
}

a:hover,
a:focus {
	border-color: #890000;
}

/*
	Objects
*/

/* Clans */

.hawks,
.wolves,
.panthers,
.snakes {
	color: #fff;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	    -ms-border-radius: 3px;
	        border-radius: 3px;
	padding: 2px 4px;
}

.wolves {
	background: #009245;
}

.panthers {
	background: #0071BC;
}

.snakes {
	background: #FBB03B;
	color: #000;
}

.hawks {
	background: #C1272D;
}

/* Messages */

.message {
	font-size: .8125em;
	line-height: 16px;
	padding: 8px 10px;
	margin: 7px 0 15px;
	border: 1px solid #ddd;
	background: #F0F0F0;
	border-radius: 3px;
	box-shadow: 0 0 3px rgba(0,0,0,.11);
}

	.message p:last-child {
		padding: 0;
	}

	.message small {
		font-size: 1em;
		display: block;
		padding-top: 8px;
		opacity: .77;
	}

.warning {
	background: #FDD;
	border-color: #EBB;
	color: #6E5C5C;
}

.notice {
	background: #FFC;
	border-color: #DDA;
	color: #6E6E5C;
}

/* progress meter */

/* container */
.pr-cont {
	width: 100%;
	height: 10px;
	border-radius: 5px;
	background: #DDD;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#BBB), to(#DDD) );
	background: -webkit-linear-gradient(#BBB, #DDD);
	background:    -moz-linear-gradient(#BBB, #DDD);
	background:         linear-gradient(#BBB, #DDD);
	box-shadow: inset 0 2px 2px #AAA;
	padding: 0;
	overflow: hidden;
}

	/* meter */
	.pr-cont .pr {
		display: block;
		border-radius: 5px;
		background: #890000;
		background: -webkit-gradient(linear, 0 0, 0 100%, from(#890000), to(#7F0C11) );
		background: -webkit-linear-gradient(#890000, #7F0C11);
		background:    -moz-linear-gradient(#890000, #7F0C11);
		background:         linear-gradient(#890000, #7F0C11);
		height: 100%;
	}

/* Page Navigation */

.pageNav ul {
	display: none;
}

	.pageNav a {
		display: block;
		padding: 5px;
		margin: 5px 0;
		border: none;
		background: #333;
		color: #FFF;
		-webkit-border-radius: 5px;
		   -moz-border-radius: 5px;
		    -ms-border-radius: 5px;
		        border-radius: 5px;
		text-align: center;
	}

	.pageNav a:hover,
	.pageNav a:focus {
		background: #890000;
	}

/* Clearfix For modern browsers */
.cf:before,
.cf:after{content:"";display:table;}
.cf:after{clear:both;}
/* Clearfix For IE 6/7 (trigger hasLayout) */
.cf{zoom:1;}


/*
	Navigation
*/

.siteNav {
	background: #333;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#222) );
	background: -webkit-linear-gradient(#333, #222);
	background:    -moz-linear-gradient(#333, #222);
	background:         linear-gradient(#333, #222);
	position: absolute;
	width: 100%;
	height: 40px;
	z-index: 9999;
	box-shadow: 1px 0 2px 1px rgba(0,0,0,.3);
}

	.siteNav a {
		font-weight: 700;
		line-height: 40px;
		display: block;
		padding: 0 10px;
		float: left;
		border: 1px solid #666;
		border-color: #000 #444 #000 #000;
		border-width: 0 1px 0 1px;
		color: #fff;
		-webkit-transition: background .3s ease-out;
		   -moz-transition: background .3s ease-out;
		    -ms-transition: background .3s ease-out;
		     -o-transition: background .3s ease-out;
		        transition: background .3s ease-out;
	}

	.siteNav a:hover {
		background-color: #444;
	}

		.siteNav .active a {
			background-color:#890000;
			border-color: #000 #720000 #000 #190000;
		}

	.siteNav ul {
		list-style: none;
	}

	.siteNav ul,
	.siteNav li,
	.siteNav p {
		float: left;
	}

		.siteNav li a {
			padding-left: 30px;
			background: transparent url(../img/ico_map.svg) no-repeat 10px 50%;
		}

		.siteNav .dashboard {
			background: transparent url(../img/ico_map.svg) no-repeat 10px 50%;
		}

		.siteNav .myClan {
			background: transparent url(../img/ico_star.svg) no-repeat 10px 50%;
		}

		.siteNav .about {
			background: transparent url(../img/ico_question.svg) no-repeat 10px 50%;
			padding-left: 30px;
		}

		.siteNav .twitter {
			float: right;
			padding: 5px;
		}

/*
	View: dashboard
*/

/* Dashboard: general */

.v-dashboard {
	height: 100%;
	width: 23%;
	padding: 0 1%;
	min-width: 280px;
	position: relative;
	box-shadow: 3px 0px 5px rgba(0,0,0,.11);
	float: left;
	z-index: 999;
	background: #F7F6F2;
}

	.logo {
		padding: 50px 0 10px;
		margin: auto;
		width: 201px;
	}

	.leaderboard {
		position: absolute;
		bottom: 10px;
		padding: 0;
	}

		.leaderboard li {
			float: left;
			width: 25%;
			list-style: none;
			text-align: center;
		}

	/* Dashboard: Logged out */

	.foursquare {
		text-align: center;
		color: #888;
		font-size: .875em;
	}

		.foursquare a {
			display: block;
			border: none;
			padding: 15px;
			margin-bottom: 4px;
			background: #2398C9;
			background: -webkit-gradient(linear, 0 0, 0 100%, from(#4FBEED), to(#2398C9) );
			background: -webkit-linear-gradient(#4FBEED, #2398C9);
			background:    -moz-linear-gradient(#4FBEED, #2398C9);
			background:         linear-gradient(#4FBEED, #2398C9);
			border: 1px solid #1079A5;
			box-shadow: 0 1px 2px rgba(0,0,0,.33), inset 0 1px 3px rgba(255,255,255,.44);
			border-radius: 30px;
			color: #fff;
			text-transform: uppercase;
			letter-spacing: 1px;
		}

		.foursquare a:hover {
			background: #1079A5;
			background: -webkit-linear-gradient(#1FA2D8, #1079A5);
			background:    -moz-linear-gradient(#1FA2D8, #1079A5);
			background:         linear-gradient(#1FA2D8, #1079A5);
		}

		.foursquare a:active {
			box-shadow: inset 0 3px 6px rgba(0,0,0,.66);
		}

	/* Dashboard: Logged in */

	.v-dashboard .clan a {
		padding: 2px 4px;
		border-radius: 3px;
		color: #fff;
		border: none;
		font-weight: 700;
		-webkit-transition: opacity .3s ease-out;
		   -moz-transition: opacity .3s ease-out;
		    -ms-transition: opacity .3s ease-out;
		     -o-transition: opacity .3s ease-out;
		        transition: opacity .3s ease-out;
	}

	.v-dashboard .clan a:hover,
	.v-dashboard .clan a:focus {
		opacity: .66;
	}

	.legend {
		border-bottom: 1px solid #DDD;
		padding-bottom: 7px;
		margin-bottom: 16px;
	}

		.legend dt {
			float: left;
		}

		.legend dd {
			line-height: 40px;
			font-size: 23px;
		}

	.tutorial {
		border-top: 1px solid #DDD;
		padding-top: 15px;
		color: #777;
		font-size: .875em;
	}

		.tutorial h2 {
			font-size: 1em;
			font-weight: 700;
		}

	/* Map */

	#map {
		height: 100%;
	}

		#map .leaflet-control {
			margin-top: 50px;
		}

		#map a {
			border: 0;
		}

/*
	View: clan
*/

.v-clan {
	padding: 80px 0 32px;
	margin: auto;
	width: 88%;
	min-width: 300px;
}

	.v-clan .bd {
		margin: 0 1%;
	}

	.v-clan article {
		margin: 8px 1%;
		float: left;
		width: 23%;
	}

	.v-clan .cf {
		border: 1px solid #DDD;
		border-radius: 4px;
		overflow: hidden;
		background: #fff;
		box-shadow: 0 0 3px rgba(0,0,0,.11);
	}

		.v-clan article h1 {
			font-size: 16px;
			font-weight: bold;
			text-align: center;
			background: #333;
			padding: 0;
		}

		.v-clan h1.capo {
			background: #890000;
		}

			.v-clan h1 a {
				display: block;
				color: #FFF;
				border: none;
				padding: 4px 0;
				-webkit-transition: background .22s ease-out;
				   -moz-transition: background .22s ease-out;
				    -ms-transition: background .22s ease-out;
				     -o-transition: background .22s ease-out;
				        transition: background .22s ease-out;
			}

			.v-clan h1 a:hover {
				background: #666;
			}

		.v-clan dl {
			padding-top: 8px;
			font-size: 14px;
		}

			.v-clan dt {
				float: left; margin-right: .5em;
				color: #777;
			}

			.v-clan dd {
				color: #890000;
			}

				.v-clan .battles {
					font-weight: 700;
				}

	.v-clan img {
		float: left;
		margin-right: 10px;
		height: 72px;
		width: 72px;
	}

	.v-clan p {
		font-size: 16px;
		color: #777;
	}

	.v-clan strong {
		color: #890000;
	}

/*
	View: about
*/

.v-about dt {
	font-weight: 700;
}

.v-about dd {
	color: #777;
	margin: 0 0 8px 1.5em;
}

.v-about .sidebar .inner {
	background: #F9F8F4;
	padding: 16px 5%;
	border: 1px solid #D7D6D2;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	    -ms-border-radius: 5px;
	        border-radius: 5px;
	overflow: hidden;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.11);
	   -moz-box-shadow: 0 0 3px rgba(0,0,0,.11);
	    -ms-box-shadow: 0 0 3px rgba(0,0,0,.11);
	        box-shadow: 0 0 3px rgba(0,0,0,.11);
}

	.v-about #team ul {
		list-style: none;
	}

		.v-about #team li {
			float: left;
			width: 21%;
			padding: 8px 2%;
			overflow: hidden;
		}

		.v-about #team a {
			display: block;
			border: none;
			font-size: .875em;
			text-align: center;
			-webkit-transition: opacity .33s ease-out;
			   -moz-transition: opacity .33s ease-out;
			    -ms-transition: opacity .33s ease-out;
			     -o-transition: opacity .33s ease-out;
			        transition: opacity .33s ease-out;
		}

		.v-about #team a:hover,
		.v-about #team a:focus {
			opacity: .77;
		}

		.v-about #team img {
			width: 100%;
			display: block;
			margin-bottom: 8px;
		}

		.v-about #team b {
			display: block;
		}

/*
	Media Queries
*/

@media handheld, only screen and (max-width: 1100px) {

	/* View: clan */

	.v-clan article {
		width: 31%;
	}

}

@media handheld, only screen and (max-width: 768px) {

	.logo,
	.tutorial,
	.twitter {
		display: none;
	}

	.leaderboard {
		position: static;
		padding-bottom: 8px;
	}

		.leaderboard li {
			float: left;
			width: 25%;
			padding: 4px 0;
			line-height: 32px;
			text-align: left;
		}

			.leaderboard img {
		        width: 30px;
				float: left;
			}

	/* View: dashboard */

	.v-dashboard {
		width: 96%;
		padding: 48px 2% 0;
		height: auto;
		box-shadow: 0 3px 5px rgba(0,0,0,.11);
	}

	#map {
		width: 100%;
	}

	/* View: clan */

	.v-clan {
		padding-top: 60px;
		width: 90%;
	}

	.v-clan article {
		width: 46%;
	}

	/* View: about */

	.v-about .sidebar .inner {
		padding: 0;
		background: transparent;
		border: none;
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
		    -ms-box-shadow: none;
		        box-shadow: none;
	}

}

@media handheld, only screen and (max-width: 480px) {

	/* Page Navigation */

	.pageNav ul {
		list-style: none;
		display: block;
	}

	/* View: dashboard */

	.v-dashboard .clan {
		display: inline;
		font-size: 16px;
	}

	.leaderboard li {
		font-size: 14px;
	}

	/* View: clan */

	.v-clan article {
		width: 98%;
	}

	.v-clan p {
		font-size: 16px;
	}

}

/*
	Retina Display Assets
*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) { /*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/
}