/*
	Project:	Ghendetta
	Author:     Miet Claes
				Xavier Bertels

	Defaults:
		Baseline Rhythm: 8px
		Font Stack: "Helvetica Neue", Arial, sans-serif
		Type Rhythm: http://modularscale.com/scale/?px1=16&px2=&ra1=1.618&ra2=0
*/

/*
	CSS Libraries
*/

@import "1140.css";

/*
	Site-Wide Structure & Layout
*/

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font: 100%/1.5 "Helvetica Neue", Arial, sans-serif;
	color: #444;
}

/* Typography */

h1,
h2 {
	font-weight: 400;
}

p {
	padding-bottom: 16px;
}

/*
	Objects
*/

/* Buttons */

.button {
	text-decoration: none;
	padding: 1px;
	background-color: #C1272D;
	border-radius: 5px;
	border: solid 2px #A1373D;
	color: white;
	display: block;
	text-align: center;
	font-size: 12px;
	line-height: 16px;
	width: 50%;
	margin: auto;
	margin-bottom: 10px;
}

.button:hover {
	background-color: black;
	border-color: #AAA;
}

/* Messages */

.message {
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
	margin: 7px 10px 15px;
	border: 1px solid #ddd;
	background: #F0F0F0;
	border-radius: 3px;
	box-shadow: 0 0 3px rgba(0,0,0,.11);
}

.message p:last-child {
	padding: 0;
}

.warning {
	background: #FFC;
	border-color: #DDA;
	color: #6E6E5C;
}

/*
	Game elements
*/

/* Dashboard */

.main {
	height: 100%;
	width: 25%;
	min-width: 280px;
	text-align: center;
	position: relative;
	box-shadow: 3px 0px 5px rgba(0,0,0,.11);
	float: left;
	z-index: 999;
}

.logo {
	margin: 10px auto;
}

.login {
	padding-top: 10px;
}

.leaderboard {
	position: absolute;
	bottom: 10px;
}

	.leaderboard li {
		float: left;
		width: 75px;
		list-style: none;
		text-align: center;
	}

/* Map */

#map_canvas {
	height: 100%;
}

/*
	Media Queries
*/

@media handheld , only screen and (max-width: 767px) {
	.leadingclans li {
		float: left;
		width: 175px;
		list-style: none;
		text-align: left;
	}

	.leadingclans img {
		width: 30px;
	}

	.foursquare {
		position: absolute;
		margin-top: 116px;
		right: 4%;
	}

	.welcome {
		padding-bottom: 0px;
		margin-top: -75px;
		position: absolute;
		right: 5%;
		width: 149px;
	}

	.login {
		padding-bottom: 20px;
	}

	p {
		margin-bottom: 15px;
	}
}

/*
	iPhone 4 Assets
*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) { /*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/
}